<div class="container">
  <h1>美食餐廳論壇</h1>

  <ul>
    <%= link_to 'TOP10 Restaurants ', ranking_restaurants_path %> |
    <%= link_to '達人專頁 ', users_path %>
    <% @categories.each do |category| %>  |
      <%= link_to category_restaurants_path(category) do %>
        <%= category.name %>
        <% end %>
    <% end %>
  </ul>



<!-- 列出所有餐廳 -->

<div class="row">

<% @restaurants.each do |restaurant| %>

  <div class="col restaurant-list">

 <%= image_tag(restaurant.image, :width => 350, :height => 240) %>
    <h1><%= restaurant.name %>
    <button class="btn btn-info">
        <%= render :partial => 'favorites', :locals => { :restaurant => restaurant } %></h1></button>
      <%= restaurant.description %>
      <%= link_to 'See More...', restaurant_path(restaurant) %>
</div>
<% end %>


</div>



<%= paginate @restaurants %>

</div>
